@import url(http://fonts.googleapis.com/css?family=Open+Sans:800);
@import 'font-awesome/css/font-awesome.min.css';
@import 'leapstrap/leapstrap.css';

html,body{ 
  width:100%;
  height:100%;
}

body {
  background-size: .2em 100%;
  margin: 0;
}

.text {
  fill: none;
  stroke-width: 6;
  stroke-linejoin: round;
  stroke-dasharray: 70 330;
  stroke-dashoffset: 0;
  -webkit-animation: stroke 6s infinite linear;
  animation: stroke 6s infinite linear;
}

.text:nth-child(5n + 1) {
  stroke: #1BD7B1;
  -webkit-animation-delay: -1.2s;
  animation-delay: -1.2s;
}

.text:nth-child(5n + 2) {
  stroke: #007aff;
  -webkit-animation-delay: -2.4s;
  animation-delay: -2.4s;
}

.text:nth-child(5n + 3) {
  stroke:#34aadc;
  -webkit-animation-delay: -3.6s;
  animation-delay: -3.6s;
}

.text:nth-child(5n + 4) {
  stroke: #5ac8fa;
  -webkit-animation-delay: -4.8s;
  animation-delay: -4.8s;
}

.text:nth-child(5n + 5) {
  stroke: #4cd964;
  -webkit-animation-delay: -6s;
  animation-delay: -6s;
}

@-webkit-keyframes stroke {
  100% {
    stroke-dashoffset: -400;
  }
}

@keyframes stroke {
  100% {
    stroke-dashoffset: -400;
  }
}

svg {
  position: absolute;
  width: 100%;
  height: 100%;
  font: 6.7em/1 Open Sans, Impact;
}

@keyframes mapfront_spin {
  0% {
    background-position: 1400px 0%;
  }
  
  100% {
    background-position: 0 0%;
  }
}

@keyframes mapback_spin {
  0% {
    background-position: 0 0%;
  }
  
  100% {
    background-position: 1400px 0%;
  }
}

@-webkit-keyframes mapfront_spin {
  0% {
    background-position: 1400px 0%;
  }
  
  100% {
    background-position: 0 0%;
  }
}

@-webkit-keyframes mapback_spin {
  0% {
    background-position: 0 0%;
  }
  
  100% {
    background-position: 1400px 0%;
  }
}

.globo {
  width: 400px;
  height: 400px;
  position: absolute;
  top: 18%;
  left: 36%;
}

.frontal {
  width: 400px;
  height: 400px;
  background: url(../img/Tierra/1.png);
  z-index: 5;
  position: absolute;
  top: 0;
  left: 0;
}

.back {
  width: 400px;
  height: 400px;
  background: url(../img/Tierra/2.png);
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
}

.mapfront, .mapback {
  border-radius: 300px;
  width: 340px;
  height: 340px;
  position: absolute;
  top: 30px;
  left: 30px;
  z-index: 4;
}

.mapfront {
  background: url(../img/Tierra/3.png) repeat-x;
  -webkit-animation: mapfront_spin 15s linear infinite;
  animation: mapfront_spin 15s linear infinite;
}

.mapback {
  background: url(../img/Tierra/4.png) repeat-x;
  -webkit-animation: mapback_spin 15s linear infinite;
  animation: mapback_spin 15s linear infinite;
}

canvas{
  display:block;
  vertical-align:bottom;
}

#particles-js{
  width: 100%;
  height: 100%;
  background-color: #293A4B;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#play{
  position: absolute;
  top: 84%;
  left: 48%;
  color: #FFFFFF;
  font-size: 80px;
}

#play:hover{
  color: #1BD7B1;
  font-size: 100px;
  top: 82.5%;
  left: 47.5%;
}

#play.hover{
  color:#1BD7B1;
  font-size: 100px;
  top: 82.5%;
  left: 47.5%;
}