@import 'font-awesome/css/font-awesome.min.css';
@import 'leapstrap/leapstrap.css';
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  overflow: hidden;
  background-color: #34495e;
}

#cargando    {
    font-weight: 300;
    font-size: 30px;
    padding: 5px 7px;
    display: inline-block;
    margin: 430px 0 0;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
    color: #FFFFFF;
}

.spinner {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 60px;
    right: 0;
    margin: auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    font-size: 11px;
}

.spinner > div {
  background-color: #A600CA;
  height: 100%;
  width: 7px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  background-color: #00C3CA;
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  background-color: #5AA845;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  background-color: #FDBD12;
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  background-color: #E72C2C;
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

#titulo {
  font-family: 'Roboto', sans-serif;
  font-size:50px;
  text-align:center;
  color:#FFFFFF;
}

#home{
  position: absolute;
  top: 130%;
  left: 49%;
  color: #FFFFFF;
  font-size: 50px;
  text-decoration: none;
}

#home:hover{
  color: #00DAC8;
}

#home.hover{
  color: #00DAC8;
}

#salir{
  position: absolute;
  top: 133%;
  left: 72%;
  color: #FFFFFF;
  font-size: 30px;
  text-decoration: none;
}

#salir:hover{
  color: #00DAC8;
  cursor: pointer;
}

#salir.hover{
  color: #00DAC8;
}

header{
  margin:80px auto;
  width:1000px;
  height:230px;
  background-color: red;
}

#usuario{
  font-size: 18px;
  text-transform: uppercase;
  color: #17AB8D;
}

.contenedor{
  width: 200px;
  height: 230px;
  float:left;
  -webkit-transition: height .4s;
  line-height:1;
  font-size: 18px;
}

#uno{
  background-color: #A600CA;
}

#dos{
  background-color: #00C3CA;
}

#tres{
  background-color: #5AA845;
}

#cuatro{
  background-color: #FDBD12;
}

#cinco{
  background-color: #E72C2C;
}

.icon{
  display: block;
  margin:50px auto;
  background-color: rgba(100,100,100,.25);
  width:150px;
  color: #FFFFFF;
  text-align: center;
  font-weight: bold;
  height: 60px;
  padding:20px;
  -webkit-border-radius: 50%;
  -webkit-box-shadow: 0px 0px 0px 30px rgba(255,255,255,0);
  -webkit-transition:box-shadow .4s;
}

p.texto{
  font-size: 1em;
  color:white;
  text-align: center;
  padding-top:5px;
  opacity: .6;
  -webkit-transition: padding-top .4s;
}

.contenedor:hover{
  height:250px;
}

.contenedor.hover{
  height:250px;
}

.contenedor:hover .texto{
  padding-top: 30px;
  opacity: 1;
  font-weight: bold;
}

.contenedor.hover .texto{
  padding-top: 30px;
  opacity: 1;
  font-weight: bold;
}

.contenedor:hover .icon{
  -webkit-box-shadow:0px 0px 0px 0px rgba(255,255,255,.6);
}

.contenedor.hover .icon{
  -webkit-box-shadow:0px 0px 0px 0px rgba(255,255,255,.6);
}

.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 2s;
  animation-name: animatebottom;
  animation-duration: 2s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#aceptar {
    background-color: #1BD7B1;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 6px;
}

#aceptar:hover {
    background-color: #17AB8D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 6px;
}

#aceptar.hover {
    background-color: #17AB8D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 6px;
}


#BotonRegistro {
    background-color: #1BD747;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 20%;
    border-radius: 6px;
}

#BotonRegistro:hover {
    background-color: #1AB13D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 20%;
    border-radius: 6px;
}

#BotonRegistro.hover {
    background-color: #1AB13D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 20%;
    border-radius: 6px;
}


#bregistrar {
    background-color: #0585AA;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 15%;
    border-radius: 6px;
}

#bregistrar:hover {
    background-color: #055D76;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 15%;
    border-radius: 6px;
}

#bregistrar.hover {
    background-color: #055D76;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 15%;
    border-radius: 6px;
}

#regresar {
    background-color: #E63A3A;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 15%;
    border-radius: 6px;
}

#regresar:hover {
    background-color: #C33535;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 15%;
    border-radius: 6px;
}

#regresar.hover {
    background-color: #C33535;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 15%;
    border-radius: 6px;
}


.imgcontainer {
    text-align: center;
    margin: 24px 0 6px 0;
    position: relative;
}

img.avatar {
    width: 40%;
}

.container {
    padding: 10px;
    width: 100%;
}

span.psw {
    float: right;
    padding-top: 16px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.7);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto 5% auto;
    border: 1px solid #888;
    width: 25%;
    border-radius: 5px;
}

.animate {
    -webkit-animation: animatezoom 2s;
    animation: animatezoom 2s
}

#ayuda{
  color: #BFBFBF;
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
}

.leap-pointable-cursor {
  border: 3px solid #DDDDDD;
  box-shadow: 0 0 15px #A2A2A2;
  width: 30px;
  height: 30px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0);
  border-right: 3px solid rgba(0, 0, 0, 0);
  border-left: 3px solid rgba(0, 0, 0, 0);
  border-radius: 50%;
  opacity: 0.9;
}

.leap-pointable-cursor:after {
  border: 2px solid #DDDDDD;
  box-shadow: 0 0 15px #A2A2A2;
  position: absolute;
  top: 32%;
  left: 30%;
  width: 10px;
  height: 10px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0);
  border-right: 2px solid rgba(0, 0, 0, 0);
  border-left: 2px solid rgba(0, 0, 0, 0);
  border-radius: 50%;
  content: "";
  opacity: .9;
}