body{
  background: #34495e;
  background-size: cover;
  background-repeat: no-repeat;
}

#titulo {
  font-family: 'Roboto', sans-serif;
  font-size:50px;
  text-align:center;
  color:#FFFFFF;
}

a{
  text-decoration: none;
}

#home{
  position: absolute;
  top: 90%;
  left: 49%;
  color: #FFFFFF;
  font-size: 50px;
}

#home:hover{
  color: #00DAC8;
}

#home.hover{
  color: #00DAC8;
}

header{
  margin:120px auto;
  width:1000px;
  height:230px;
  background-color: red;
}

.contenedor{
  width: 200px;
  height: 230px;
  float:left;
  -webkit-transition: height .4s;
}

#uno{
  background-color: #A600CA;
}

#dos{
  background-color: #00C3CA;
}

#tres{
  background-color: #5AA845;
}

#cuatro{
  background-color: #FDBD12;
}

#cinco{
  background-color: #E72C2C;
}

.icon{
  display: block;
  margin:50px auto;
  background-color: rgba(100,100,100,.25);
  width:150px;
  color: #FFFFFF;
  text-align: center;
  font-weight: bold;
  height: 60px;
  padding:20px;
  -webkit-border-radius: 50%;
  -webkit-box-shadow: 0px 0px 0px 30px rgba(255,255,255,0);
  -webkit-transition:box-shadow .4s;
}

p.texto{
  font-size: 1em;
  color:white;
  text-align: center;
  padding-top:5px;
  opacity: .6;
  -webkit-transition: padding-top .4s;
}

.contenedor:hover{
  height:250px;
}

.contenedor.hover{
  height:250px;
}

.contenedor:hover .texto{
  padding-top: 30px;
  opacity: 1;
  font-weight: bold;
}

.contenedor.hover .texto{
  padding-top: 30px;
  opacity: 1;
  font-weight: bold;
}

.contenedor:hover .icon{
  -webkit-box-shadow:0px 0px 0px 0px rgba(255,255,255,.6);
}

.contenedor.hover .icon{
  -webkit-box-shadow:0px 0px 0px 0px rgba(255,255,255,.6);
}

.leap-pointable-cursor {
  border: 3px solid #DDDDDD;
  box-shadow: 0 0 15px #A2A2A2;
  width: 30px;
  height: 30px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0);
  border-right: 3px solid rgba(0, 0, 0, 0);
  border-left: 3px solid rgba(0, 0, 0, 0);
  border-radius: 50%;
  opacity: 0.9;
}

.leap-pointable-cursor:after {
  border: 2px solid #DDDDDD;
  box-shadow: 0 0 15px #A2A2A2;
  position: absolute;
  top: 32%;
  left: 30%;
  width: 10px;
  height: 10px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0);
  border-right: 2px solid rgba(0, 0, 0, 0);
  border-left: 2px solid rgba(0, 0, 0, 0);
  border-radius: 50%;
  content: "";
  opacity: .9;
}